.header {
  &__image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: 778px;
    background-image: url(./public/frame@3x.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
  }

  &__menu-bar {
    display: flex;
    align-items: center;
  }

  &__menu-bar-logo {
    margin-left: 50px;
    padding: 8px 8px 8px 0;

    img {
      width: 55px;
      height: 55px;
      display: block;
    }
  }

  &__menu-bar-menu {
    font-size: var(--font-size-sm);
    color: var(--color-gray-300);
    font-family: 'Crimson Pro', sans-serif;
    margin-left: 50px;
    display: flex;
  }

  &__menu-bar-menu-item {
    &:not(:first-child) {
      margin-left: 14px;
    }

    a {
      text-decoration: none;
      color: var(--color-gray-300);
      &:hover {
        color: var(--color-crimson);
      }
    }
  }
}

.buying {
  display: flex;
  justify-content: space-between;

  &__info {
    font-size: var(--font-size-17xl);
    color: var(--color-gray-300);
    font-family: 'Roboto', sans-serif;
    width:302px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
  }

  &__price {
    font-size: var(--font-size-17xl);
    color: var(--color-white);
    font-family: 'Roboto', sans-serif;
    -webkit-text-stroke: 1px #000000;
    width:302px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-crimson);
  }
}

.panorama {
  margin-top: 175px;
  margin-left: 50px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;

  &__info {
    width: 346px;
    height: 285px;
    font-size: var(--font-size-lg);
    font-family: 'Crimson Pro', sans-serif;
    color: var(--color-gray-400);

    &__p {
      font-size: var(--font-size-sm);
      font-family: 'Crimson Pro', sans-serif;
      color: var(--color-gray-400);
    }
  }

  &__info-date-choice-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;

    &-month-button {
      border-radius: var(--br-3xl-5);
      border: 2px solid var(--color-crimson);
      cursor: pointer;
      width: 127px;
      background-color: var(--color-white);
      padding: var(--padding-2xs) var(--padding-xl) var(--padding-3xs)
      var(--padding-2xl);
      font-family: 'Crimson Pro', sans-serif;
      font-size: var(--font-size-lg);
      color: var(--color-gray-300);
      &:hover {
        background-color: var(--color-crimson);
        scale: 1.1;
      }
      &:focus {
        background-color: var(--color-crimson);
      }
    }
  }

  &__info-actions {
    display: flex;
    justify-content: space-between;
    width: 340px;
    height: 45px;
    margin-top: 25px;

    &-action {
      cursor: pointer;
      border: none;
      padding: var(--padding-2xs) var(--padding-xl) var(--padding-3xs) 24px;
      border-radius: var(--br-3xl-5);


      &_payment {
        background-color: var(--color-crimson);
        width: 186px;
        font-size: var(--font-size-lg);
        color: var(--color-white);
        font-family: 'Roboto', sans-serif;
        &:hover {
          border: 3px dotted #fa434b;
          color: #000000;
          background: rgba(0,0,0,0);
        }
      }

      &_cancel {
        background-color: var(--color-silver-200);
        width: 134px;
        font-size: var(--font-size-lg);
        color: var(--color-gray-300);
        font-family: 'Roboto', sans-serif;
        &:hover {
          border: 3px dotted #c4c4c4;
          background: rgba(0,0,0,0);
        }
      }
      &:hover {
        scale: 1.1;
      }
    }
  }

  &__scheme {
    margin-right: 150px;
    width: 435px;
    height: 364px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    &__title {
      text-align: center;
      font-size: var(--font-size-lg);
      color: var(--color-gray-300);
      font-family: 'Roboto', sans-serif;
      margin-bottom: 10px;
    }

    &-row-number {
      font-size: var(--font-size-sm);
      color: var(--color-gray-300);
      font-family: 'Crimson Pro', sans-serif;
    }

    &-row-1,
    &-row-2,
    &-row-3,
    &-row-4,
    &-row-5,
    &-row-6,
    &-row-7,
    &-row-8,
    &-row-9,
    &-row-10,
    &-row-11,
    &-row-12,
    &-row-13,
    &-row-14,
    {
      display: flex;
      width: 530px;
      flex-direction: row;
      align-items: baseline;
      flex-wrap: nowrap;
      justify-content: center;
    }

    &-seat {
      width: 18px;
      height: 18px;
      position: relative;
      border-radius: 50%;
      background-color: var(--color-silver-200);
      font-size: 12px;
      margin-left: 5px;
      align-content: center;
      text-align: center;
    }
  }
}




.unnamed-1-icon1 {
  height: 55px;
  width: 55px;
  position: relative;
  object-fit: cover;
}
.div48 {
  flex: 1;
  min-width: 58px;
  white-space: nowrap;
}
.div48,
.div49,
.div50,
.div51 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 18px;
  display: inline-block;
}
.div49 {
  flex: 1;
  min-width: 54px;
}
.div50,
.div51 {
  min-width: 45px;
}
.div51 {
  flex: 1;
  min-width: 51px;
}
.navigation-labels {
  margin: 0;
  align-self: stretch;
  flex-direction: row;
  gap: 17px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-300);
  font-family: var(--font-crimson-pro);
}
.main-area,
.navigation,
.navigation-labels {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation {
  margin: 0;
  width: 259px;
  flex-direction: column;
  padding: 18px 0 0;
  box-sizing: border-box;
}
.main-area {
  align-self: stretch;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: row;
  padding: 8px var(--padding-31xl);
  gap: 40px;
  top: 0;
  z-index: 99;
  position: sticky;
}
.h1 {
  margin: 0;
  height: 36px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.2px;
  line-height: 40px;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
}
.wrapper2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-23xl) 0 0;
}
.div52 {
  width: 180px;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 36px;
  display: flex;
  align-items: center;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.price-area {
  width: 302px;
  background-color: var(--color-crimson);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--padding-23xl) var(--padding-31xl);
  box-sizing: border-box;
  white-space: nowrap;
  text-align: right;
  color: var(--color-white);
}
.frame1,
.frame2,
.price-area {
  display: flex;
  align-items: flex-start;
}
.frame2 {
  align-self: stretch;
  background-color: #fbfbfb;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-31xl);
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-300);
  font-family: var(--font-crimson-pro);
}
.frame1 {
  margin-top: -1003px;
  margin-left: -125px;
  width: 1430px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 336px 75px 0;
  box-sizing: border-box;
  gap: 425px;
  background-image: url(./public/frame@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  flex-shrink: 0;
  z-index: 9999;
  max-width: 122%;
}
.div53,
.div54 {
  width: 270px;
  position: relative;
  letter-spacing: 0.2px;
  display: flex;
  align-items: center;
}
.div54 {
  width: 95px;
  text-align: center;
  justify-content: center;
  min-width: 95px;
}
.selection-labels {
  width: 763px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.div55 {
  position: relative;
  letter-spacing: 0.2px;
  display: inline-block;
  min-width: 112px;
  white-space: nowrap;
}
.month-labels {
  width: 157px;
  border-radius: var(--br-3xl-5);
  border: 2px solid var(--color-crimson);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-xl) var(--padding-3xs)
  var(--padding-2xl);
}
.div56 {
  position: relative;
  letter-spacing: 0.2px;
  display: inline-block;
  min-width: 122px;
  white-space: nowrap;
}
.month-labels1,
.navigation-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.month-labels1 {
  flex: 1;
  border-radius: var(--br-3xl-5);
  border: 2px solid var(--color-crimson);
  box-sizing: border-box;
  padding: var(--padding-2xs) var(--padding-2xl) var(--padding-3xs) 22px;
  min-width: 110px;
}
.navigation-buttons {
  align-self: stretch;
  gap: var(--gap-xl);
}
.div57 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.2px;
  line-height: 18px;
}
.month-navigation {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 41px;
}
.div58 {
  width: 137.7px;
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: 0.2px;
  font-family: var(--font-crimson-pro);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.option-buttons {
  cursor: pointer;
  border: 2px solid var(--color-crimson);
  padding: var(--padding-2xs) var(--padding-xl) var(--padding-3xs) 24px;
  background-color: var(--color-crimson);
  flex: 1;
  border-radius: var(--br-3xl-5);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 121px;
  white-space: nowrap;
}
.option-buttons:hover {
  background-color: var(--color-tomato);
  border: 2px solid var(--color-tomato);
  box-sizing: border-box;
}
.div59 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-lg);
  letter-spacing: 0.2px;
  font-family: var(--font-crimson-pro);
  color: var(--color-gray-300);
  text-align: center;
}
.option-buttons1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-2xl) var(--padding-smi);
  background-color: var(--color-silver-200);
  width: 134px;
  border-radius: var(--br-3xl-5);
  flex-direction: row;
  box-sizing: border-box;
}
.option-buttons1:hover {
  background-color: #919191;
}
.calendar-area,
.month-selection,
.option-buttons1,
.payment-options {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.payment-options {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-xl);
}
.calendar-area,
.month-selection {
  flex-direction: column;
  max-width: 100%;
}
.month-selection {
  width: 346px;
  gap: 50px;
}
.calendar-area {
  width: 492px;
  padding: var(--padding-sm) 0 0;
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-lg);
}
.div60 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 18px;
}
.legend {
  height: 96.4px;
  width: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.seat-numbers {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 18px;
  display: inline-block;
  min-width: 7px;
}
.column-labels {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs) 0 var(--padding-8xs);
}
.div61 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 18px;
  display: inline-block;
  min-width: 8px;
}
.column-labels1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-10xs) 0 var(--padding-8xs);
}
.div62 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 18px;
  display: inline-block;
  min-width: 7px;
}
.column-labels2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs) 0 var(--padding-8xs);
}
.div63 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 18px;
  display: inline-block;
  min-width: 8px;
}
.column-labels3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-10xs) 0 var(--padding-8xs);
}
.div64 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 18px;
  display: inline-block;
  min-width: 7px;
}
.column-labels4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs) 0 var(--padding-8xs);
}
.div65 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 18px;
  display: inline-block;
  min-width: 8px;
}
.column-labels5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-10xs) 0 var(--padding-8xs);
}
.div66 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 18px;
  display: inline-block;
  min-width: 8px;
}
.column-labels6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-10xs) 0 var(--padding-8xs);
}
.row-label {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 18px;
  display: inline-block;
  min-width: 16px;
}
.column-labels7,
.column-labels8 {
  width: 15px;
  height: 16.1px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-silver-200);
}
.seat-columns,
.seat-rows {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.seat-columns {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-2xs-7);
}
.seat-rows {
  height: 310.5px;
  width: 16px;
  align-items: flex-start;
}
.stage-label {
  flex: 1;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 18px;
  display: inline-block;
  min-width: 7px;
}
.stage-area {
  width: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.icon-label {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 18px;
  display: inline-block;
  min-width: 7px;
}
.stage-shape {
  height: 16.1px;
  width: 15px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-silver-200);
}
.stage-icon {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 9px;
}
.seat-availability,
.seat-status {
  position: absolute;
  top: 0;
  left: 20px;
  border-radius: 50%;
  background-color: var(--color-silver-200);
  width: 15px;
  height: 16.1px;
}
.seat-availability {
  left: 0;
}
.seat-indicators {
  width: 35px;
  height: 16.1px;
  position: relative;
}
.seat-indicators-child,
.seat-indicators-item {
  position: absolute;
  top: 0;
  left: 20px;
  border-radius: 50%;
  background-color: var(--color-silver-200);
  width: 15px;
  height: 16.1px;
}
.seat-indicators-item {
  left: 0;
}
.seat-indicators1 {
  width: 35px;
  height: 16.1px;
  position: relative;
}
.ellipse-div,
.seat-indicators-inner {
  position: absolute;
  top: 0;
  left: 20px;
  border-radius: 50%;
  background-color: var(--color-silver-200);
  width: 15px;
  height: 16.1px;
}
.ellipse-div {
  left: 0;
}
.seat-indicators2 {
  width: 35px;
  height: 16.1px;
  position: relative;
}
.seat-indicators-child1,
.seat-indicators-child2 {
  position: absolute;
  top: 0;
  left: 20px;
  border-radius: 50%;
  background-color: var(--color-silver-200);
  width: 15px;
  height: 16.1px;
}
.seat-indicators-child2 {
  left: 0;
}
.seat-indicators3 {
  width: 35px;
  height: 16.1px;
  position: relative;
}
.seat-indicators-child3,
.seat-indicators-child4 {
  position: absolute;
  top: 0;
  left: 20px;
  border-radius: 50%;
  background-color: var(--color-silver-200);
  width: 15px;
  height: 16.1px;
}
.seat-indicators-child4 {
  left: 0;
}
.seat-indicators4 {
  width: 35px;
  height: 16.1px;
  position: relative;
}
.seat-indicators-child5,
.seat-indicators-child6 {
  position: absolute;
  top: 0;
  left: 20px;
  border-radius: 50%;
  background-color: var(--color-silver-200);
  width: 15px;
  height: 16.1px;
}
.seat-indicators-child6 {
  left: 0;
}
.seat-indicators5 {
  width: 35px;
  height: 16.1px;
  position: relative;
}
.seat-indicators-child7,
.seat-indicators-child8 {
  position: absolute;
  top: 0;
  left: 20px;
  border-radius: 50%;
  background-color: var(--color-silver-200);
  width: 15px;
  height: 16.1px;
}
.seat-indicators-child8 {
  left: 0;
}
.seat-indicators6 {
  width: 35px;
  height: 16.1px;
  position: relative;
}
.seat-indicators-child10,
.seat-indicators-child9 {
  position: absolute;
  top: 0;
  left: 20px;
  border-radius: 50%;
  background-color: var(--color-silver-200);
  width: 15px;
  height: 16.1px;
}
.seat-indicators-child10 {
  left: 0;
}
.seat-indicators7 {
  width: 35px;
  height: 16.1px;
  position: relative;
}
.seat-indicators-child11,
.seat-indicators-child12 {
  position: absolute;
  top: 0;
  left: 20px;
  border-radius: 50%;
  background-color: var(--color-silver-200);
  width: 15px;
  height: 16.1px;
}
.seat-indicators-child12 {
  left: 0;
}
.reserved-indicator,
.seat-indicators8 {
  width: 35px;
  height: 16.1px;
  position: relative;
}
.reserved-indicator {
  width: 15px;
  border-radius: 50%;
  background-color: var(--color-silver-200);
}
.div67,
.reserved-icon {
  position: relative;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.reserved-icon {
  width: 15px;
  height: 16.1px;
  border-radius: 50%;
  background-color: var(--color-silver-200);
}
.div67 {
  align-self: stretch;
  letter-spacing: 0.2px;
  line-height: 18px;
  display: inline-block;
  min-width: 16px;
}
.reserved-label {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-18xl-4);
}
.reserved-label,
.reserved-seat,
.row-seats {
  display: flex;
  justify-content: flex-start;
}
.reserved-seat {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: 4px;
}
.row-seats {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-2xs-7);
}
.column-labels-b,
.column-labels-b1,
.column-labels-b10,
.column-labels-b11,
.column-labels-b2,
.column-labels-b3,
.column-labels-b4,
.column-labels-b5,
.column-labels-b6,
.column-labels-b7,
.column-labels-b8,
.column-labels-b9 {
  width: 15px;
  height: 16.1px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-silver-200);
}
.row-label-b,
.seat-columns-b {
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.seat-columns-b {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-2xs-7);
}
.row-label-b {
  width: 15px;
  height: 16.1px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-silver-200);
}
.seat-rows-b {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-18xl-4);
}
.seat-indicators-b,
.seat-indicators-b1,
.seat-indicators-b10,
.seat-indicators-b11,
.seat-indicators-b2,
.seat-indicators-b3,
.seat-indicators-b4,
.seat-indicators-b5,
.seat-indicators-b6,
.seat-indicators-b7,
.seat-indicators-b8,
.seat-indicators-b9 {
  width: 15px;
  height: 16.1px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-silver-200);
}
.div68 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 18px;
  display: inline-block;
  min-width: 16px;
}
.seat-indicators-b12 {
  width: 15px;
  height: 16.1px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-silver-200);
}
.row-seats-b,
.seat-map {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.row-seats-b {
  width: 16px;
  flex-direction: column;
  gap: var(--gap-2xs-7);
}
.seat-map {
  width: 114px;
  flex-direction: row;
  gap: 4.5px;
  flex-shrink: 0;
}
.column-labels-d,
.column-labels-d1,
.column-labels-d10,
.column-labels-d11,
.column-labels-d12,
.column-labels-d2,
.column-labels-d3,
.column-labels-d4,
.column-labels-d5,
.column-labels-d6,
.column-labels-d7,
.column-labels-d8,
.column-labels-d9 {
  height: 16.1px;
  width: 15px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-silver-200);
}
.seat-columns-d {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.column-labels-e,
.column-labels-e1,
.column-labels-e10,
.column-labels-e11,
.column-labels-e12,
.column-labels-e13,
.column-labels-e2,
.column-labels-e3,
.column-labels-e4,
.column-labels-e5,
.column-labels-e6,
.column-labels-e7,
.column-labels-e8,
.column-labels-e9 {
  height: 16.1px;
  width: 15px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-silver-200);
}
.seat-columns-e {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.seat-number-a,
.seat-number-b,
.seat-number-c,
.seat-number-d,
.seat-number-e,
.seat-number-f,
.seat-number-g,
.seat-number-h,
.seat-number-i,
.seat-number-j,
.seat-number-k,
.seat-number-l,
.seat-number-m,
.seat-number-n,
.seat-number-o {
  height: 16.1px;
  width: 15px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-silver-200);
}
.column-labels-c {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.column-labels-c-child,
.column-labels-c-child1,
.column-labels-c-child10,
.column-labels-c-child11,
.column-labels-c-child12,
.column-labels-c-child2,
.column-labels-c-child3,
.column-labels-c-child4,
.column-labels-c-child5,
.column-labels-c-child6,
.column-labels-c-child7,
.column-labels-c-child8,
.column-labels-c-child9,
.column-labels-c-inner,
.column-labels-c-item {
  height: 16.1px;
  width: 15px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-silver-200);
}
.column-labels-c1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.column-labels-c-child13,
.column-labels-c-child14,
.column-labels-c-child15,
.column-labels-c-child16,
.column-labels-c-child17,
.column-labels-c-child18,
.column-labels-c-child19,
.column-labels-c-child20,
.column-labels-c-child21,
.column-labels-c-child22,
.column-labels-c-child23,
.column-labels-c-child24,
.column-labels-c-child25,
.column-labels-c-child26,
.column-labels-c-child27 {
  height: 16.1px;
  width: 15px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-silver-200);
}
.column-labels-c2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.column-labels-f,
.column-labels-f1,
.column-labels-f10,
.column-labels-f11,
.column-labels-f12,
.column-labels-f13,
.column-labels-f14,
.column-labels-f15,
.column-labels-f16,
.column-labels-f17,
.column-labels-f18,
.column-labels-f19,
.column-labels-f2,
.column-labels-f20,
.column-labels-f21,
.column-labels-f22,
.column-labels-f23,
.column-labels-f24,
.column-labels-f25,
.column-labels-f26,
.column-labels-f27,
.column-labels-f28,
.column-labels-f29,
.column-labels-f3,
.column-labels-f4,
.column-labels-f5,
.column-labels-f6,
.column-labels-f7,
.column-labels-f8,
.column-labels-f9 {
  height: 16.1px;
  width: 15px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-silver-200);
}
.seat-columns-f {
  width: 295px;
  height: 42.9px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10.7px 4.7px;
}
.seat-number-p,
.seat-number-p1,
.seat-number-p10,
.seat-number-p11,
.seat-number-p12,
.seat-number-p13,
.seat-number-p14,
.seat-number-p15,
.seat-number-p2,
.seat-number-p3,
.seat-number-p4,
.seat-number-p5,
.seat-number-p6,
.seat-number-p7,
.seat-number-p8,
.seat-number-p9 {
  height: 16.1px;
  width: 15px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-silver-200);
}
.column-labels-c3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.column-labels-c-child28,
.column-labels-c-child29,
.column-labels-c-child30,
.column-labels-c-child31,
.column-labels-c-child32,
.column-labels-c-child33,
.column-labels-c-child34,
.column-labels-c-child35,
.column-labels-c-child36,
.column-labels-c-child37,
.column-labels-c-child38,
.column-labels-c-child39,
.column-labels-c-child40,
.column-labels-c-child41,
.column-labels-c-child42,
.column-labels-c-child43 {
  height: 16.1px;
  width: 15px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-silver-200);
}
.column-labels-c4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.column-labels-c-child44,
.column-labels-c-child45,
.column-labels-c-child46,
.column-labels-c-child47,
.column-labels-c-child48,
.column-labels-c-child49,
.column-labels-c-child50,
.column-labels-c-child51,
.column-labels-c-child52,
.column-labels-c-child53,
.column-labels-c-child54,
.column-labels-c-child55,
.column-labels-c-child56,
.column-labels-c-child57,
.column-labels-c-child58,
.column-labels-c-child59 {
  height: 16.1px;
  width: 15px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-silver-200);
}
.column-labels-c5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.column-labels-c-child60,
.column-labels-c-child61,
.column-labels-c-child62,
.column-labels-c-child63,
.column-labels-c-child64,
.column-labels-c-child65,
.column-labels-c-child66,
.column-labels-c-child67,
.column-labels-c-child68,
.column-labels-c-child69,
.column-labels-c-child70,
.column-labels-c-child71,
.column-labels-c-child72,
.column-labels-c-child73,
.column-labels-c-child74,
.column-labels-c-child75 {
  height: 16.1px;
  width: 15px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-silver-200);
}
.column-labels-c6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.seat-availability-c,
.seat-status-c {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-silver-200);
  width: 15px;
  height: 16.1px;
}
.seat-status-c {
  top: 26.8px;
}
.seat-indicators-c {
  height: 42.9px;
  width: 15px;
  position: relative;
}
.seat-indicators-c-child,
.seat-indicators-c-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-silver-200);
  width: 15px;
  height: 16.1px;
}
.seat-indicators-c-item {
  top: 26.8px;
}
.seat-indicators-c1 {
  height: 42.9px;
  width: 15px;
  position: relative;
}
.seat-indicators-c-child1,
.seat-indicators-c-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-silver-200);
  width: 15px;
  height: 16.1px;
}
.seat-indicators-c-child1 {
  top: 26.8px;
}
.seat-indicators-c2 {
  height: 42.9px;
  width: 15px;
  position: relative;
}
.seat-indicators-c-child2,
.seat-indicators-c-child3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-silver-200);
  width: 15px;
  height: 16.1px;
}
.seat-indicators-c-child3 {
  top: 26.8px;
}
.seat-indicators-c3 {
  height: 42.9px;
  width: 15px;
  position: relative;
}
.seat-indicators-c-child4,
.seat-indicators-c-child5 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-silver-200);
  width: 15px;
  height: 16.1px;
}
.seat-indicators-c-child5 {
  top: 26.8px;
}
.seat-indicators-c4 {
  height: 42.9px;
  width: 15px;
  position: relative;
}
.seat-indicators-c-child6,
.seat-indicators-c-child7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-silver-200);
  width: 15px;
  height: 16.1px;
}
.seat-indicators-c-child7 {
  top: 26.8px;
}
.seat-indicators-c5 {
  height: 42.9px;
  width: 15px;
  position: relative;
}
.seat-indicators-c-child8,
.seat-indicators-c-child9 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-silver-200);
  width: 15px;
  height: 16.1px;
}
.seat-indicators-c-child9 {
  top: 26.8px;
}
.seat-indicators-c6 {
  height: 42.9px;
  width: 15px;
  position: relative;
}
.seat-indicators-c-child10,
.seat-indicators-c-child11 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-silver-200);
  width: 15px;
  height: 16.1px;
}
.seat-indicators-c-child11 {
  top: 26.8px;
}
.seat-indicators-c7 {
  height: 42.9px;
  width: 15px;
  position: relative;
}
.seat-indicators-c-child12,
.seat-indicators-c-child13 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-silver-200);
  width: 15px;
  height: 16.1px;
}
.seat-indicators-c-child13 {
  top: 26.8px;
}
.seat-indicators-c8 {
  height: 42.9px;
  width: 15px;
  position: relative;
}
.stage-icon-labels,
.stage-icon-labels1,
.stage-icon-labels2,
.stage-icon-labels3,
.stage-icon-labels4,
.stage-icon-labels5,
.stage-icon-labels6 {
  height: 16.1px;
  width: 15px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-silver-200);
}
.stage-icon-row,
.stage-shape-b {
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.stage-icon-row {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.stage-shape-b {
  width: 15px;
  height: 16.1px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-silver-200);
}
.row-seats-c,
.stage-area-b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.stage-area-b {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-2xs-7);
}
.row-seats-c {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-8xs);
}
.column-labels-g,
.column-labels-g1,
.column-labels-g10,
.column-labels-g11,
.column-labels-g2,
.column-labels-g3,
.column-labels-g4,
.column-labels-g5,
.column-labels-g6,
.column-labels-g7,
.column-labels-g8,
.column-labels-g9 {
  height: 16.1px;
  width: 15px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-silver-200);
}
.seat-columns-c,
.seat-rows-d {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.seat-columns-c {
  width: 315px;
  flex-direction: column;
  gap: var(--gap-2xs-7);
}
.div69 {
  align-self: stretch;
  height: 16.1px;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.information {
  height: 69.6px;
  width: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.seat-rows-c {
  width: 441px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 100%;
  gap: var(--gap-xl);
  flex-shrink: 0;
}
.calendar,
.div47,
.seat-selection {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.calendar {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  gap: var(--gap-8xs);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-sm);
}
.div47,
.seat-selection {
  flex-direction: column;
}
.seat-selection {
  width: 931px;
  gap: 8px;
  flex-shrink: 0;
  debug_commit: 1de1738;
  max-width: 100%;
}
.div47 {
  width: 100%;
  height: 1238px;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  padding: 667px var(--padding-31xl) 181px;
  box-sizing: border-box;
  gap: 51px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-gray-300);
  font-family: var(--font-crimson-pro);
}
@media screen and (max-width: 1200px) {
  .div47,
  .frame1 {
    box-sizing: border-box;
  }
  .frame1 {
    gap: 212px;
    padding-left: var(--padding-18xl);
    padding-right: var(--padding-18xl);
  }
  .div47 {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
  }
}
@media screen and (max-width: 1050px) {
  .h1 {
    font-size: 29px;
  }
  .frame1 {
    padding-top: 218px;
    box-sizing: border-box;
  }
  .calendar {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .frame1,
  .frame2 {
    box-sizing: border-box;
  }
  .frame2 {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    padding-bottom: var(--padding-xl);
  }
  .frame1 {
    gap: 106px;
    padding-top: 142px;
  }
  .div47 {
    height: auto;
    gap: var(--gap-6xl);
  }
}
@media screen and (max-width: 450px) {
  .main-area {
    gap: var(--gap-xl);
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
  .h1 {
    font-size: 22px;
  }
  .price-area {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame1 {
    gap: 53px;
  }
  .navigation-buttons,
  .selection-labels {
    flex-wrap: wrap;
  }
  .month-navigation {
    gap: var(--gap-xl);
  }
  .payment-options {
    flex-wrap: wrap;
  }
  .month-selection {
    gap: var(--gap-6xl);
  }
}
